-dontoptimize
-dontpreverify
-dontobfuscate
-verbose

-injars ../scas/target/scala-2.11/scas_2.11-2.1.jar
-injars ../scas/lib/txt2xhtml.jar(!META-INF/MANIFEST.MF)
-injars ../../scala/lib/scala-library.jar(!META-INF/MANIFEST.MF)
-libraryjars /usr/lib/jvm/java-6-openjdk/jre/lib/rt.jar
-outjars libs/scas.jar

-keep public class scas.application.* { public static void main(java.lang.String[]); }
-keep public class scas.application.* { public java.lang.String apply(java.lang.Object); }
-keep public interface scas.*.* { public abstract java.lang.String toString(); }
-keep public interface scala.collection.SeqLike { public abstract java.lang.String toString(); }

##############################################################################
## Scala specific settings

-dontwarn **$$anonfun$*
-dontwarn scala.android.**
-dontwarn scala.collection.generic.GenTraversableFactory
-dontwarn scala.collection.immutable.RedBlack$Empty
-dontwarn scala.concurrent.forkjoin.**
-dontwarn scala.concurrent.forkjoin.LinkedTransferQueue*
-dontwarn scala.reflect.ScalaBeanInfo*
-dontwarn scala.sys.process.**
-dontwarn scala.tools.**,plugintemplate.**

#(org.xml.sax.EntityResolver)Class.forName(variable).newInstance()
-dontnote org.xml.sax.EntityResolver

#(org.apache.james.mime4j.storage.StorageProvider)Class.forName(variable).newInstance()
-dontnote org.apache.james.mime4j.storage.DefaultStorageProvider

-dontnote scala.android.app.Activity

-keep public class * extends scala.android.app.Activity
-keep class * extends scala.runtime.MethodCache

-keepclassmembers class * {
    ** MODULE$;
}
