-dontoptimize
-dontpreverify
-dontobfuscate
-verbose

-injars <user.home>/lib/scas.application_3-3.1.jar(!jscl/editor/Editor.properties,!jscl/editor/mmltxt.xsl,!**/*.tasty)
-injars <user.home>/lib/scas_3-3.1.jar(!META-INF/MANIFEST.MF,!jscl/editor/Editor.properties,!jscl/editor/mmlscala.xsl,!**/*.tasty)
-injars <user.home>/lib/scala3-library_3-3.7.4-RC1.jar(!META-INF/MANIFEST.MF,!**/*.tasty)
-injars <user.home>/lib/scala-library-2.13.16.jar(!META-INF/MANIFEST.MF,!**/*.tasty)
-injars <user.home>/lib/scala-parallel-collections_3-1.0.4.jar(!META-INF/MANIFEST.MF,!**/*.tasty)
-injars <user.home>/lib/scala-parser-combinators_3-2.4.0.jar(!META-INF/MANIFEST.MF,!**/*.tasty)
-libraryjars <user.home>/lib/rendering-1.1.jar(!META-INF/MANIFEST.MF)
-libraryjars classes/
-outjars libs/scas.jar

-keep public class scas.scripting.Engine$Factory

##############################################################################
## Scala specific settings

-dontwarn **$$anonfun$*
-dontwarn scala.android.**
-dontwarn scala.collection.generic.GenTraversableFactory
-dontwarn scala.collection.immutable.RedBlack$Empty
-dontwarn scala.concurrent.forkjoin.**
-dontwarn scala.concurrent.forkjoin.LinkedTransferQueue*
-dontwarn scala.reflect.ScalaBeanInfo*
-dontwarn scala.sys.process.**
-dontwarn scala.tools.**,plugintemplate.**
-dontwarn scala.runtime.Statics
-dontwarn scala.AnyKind
-dontwarn cc.redberry.rings.**
-dontwarn org.apache.commons.math3.linear.**
-dontwarn edu.jas.**

#(org.xml.sax.EntityResolver)Class.forName(variable).newInstance()
-dontnote org.xml.sax.EntityResolver

#(org.apache.james.mime4j.storage.StorageProvider)Class.forName(variable).newInstance()
-dontnote org.apache.james.mime4j.storage.DefaultStorageProvider

-dontnote scala.android.app.Activity

-keep public class * extends scala.android.app.Activity
-keep class * extends scala.runtime.MethodCache

-keepclassmembers class * {
    ** MODULE$;
}

-keepattributes Signature
