-dontoptimize
-dontpreverify
-dontobfuscate
-verbose

-injars <scas.home>/target/scala-2.11/scas_2.11-2.1.jar
-injars <scas.home>/lib/txt2xhtml.jar(!META-INF/MANIFEST.MF)
-injars <scala.home>/lib/scala-library.jar(!META-INF/MANIFEST.MF)
-libraryjars <java.home>/lib/rt.jar
-outjars libs/scas.jar

-keep public class scas.application.Engine$Factory
-keep public class scas.application.MathML { public MathML(java.lang.String); }
-keep public class scas.application.MathML { public java.lang.String apply(java.lang.Object); }
-keep public interface scala.collection.SeqLike { public abstract java.lang.String toString(); }

##############################################################################
## Scala specific settings

-dontwarn **$$anonfun$*
-dontwarn scala.android.**
-dontwarn scala.collection.generic.GenTraversableFactory
-dontwarn scala.collection.immutable.RedBlack$Empty
-dontwarn scala.concurrent.forkjoin.**
-dontwarn scala.concurrent.forkjoin.LinkedTransferQueue*
-dontwarn scala.reflect.ScalaBeanInfo*
-dontwarn scala.sys.process.**
-dontwarn scala.tools.**,plugintemplate.**

#(org.xml.sax.EntityResolver)Class.forName(variable).newInstance()
-dontnote org.xml.sax.EntityResolver

#(org.apache.james.mime4j.storage.StorageProvider)Class.forName(variable).newInstance()
-dontnote org.apache.james.mime4j.storage.DefaultStorageProvider

-dontnote scala.android.app.Activity

-keep public class * extends scala.android.app.Activity
-keep class * extends scala.runtime.MethodCache

-keepclassmembers class * {
    ** MODULE$;
}
